<%- include ("meta.ejs") %>
<body>

    <%- include ("navbar.ejs") %>
    <%- include ("navUser.ejs") %>
    <%- include ("navWallet.ejs") %>

    <div class="ctn-login">

        <h1 class="f-sanserif-bold mt-5">YOUR CURRENCIES</h1>

        <div class="ctn-attendance">

            <div class="row mt-5">
                <div class="col">
                    <p class="f-sanserif-medium mt-3">Total Available Amount:</p>
                    <h1 class="money-Title">$ 947.22</h1>
                    <p class="f-sanserif-italic mt-2">in singapore dollar</p>
                </div>
            </div>
            

            <h1 class="f-sanserif-bold mt-5 mb-5">Market Rates</h1>

            <p class="f-sanserif-regular mb-5"><span class="f-sanserif-medium">IMPORTANT NOTICE<br><br></span>
                Any currencies purchased must be at least S$50 and above.
            </p>

            <div class="currency-row mt-2">
                <div class="currency-col1">
                    <p class="currency-amount">$ 250.00</p>
                    <p class="currency-title">Chinese Yuan Renminbi</p>
                    <p class="transaction-id">Rates Buy: 5.364593</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-5">
                <div class="currency-col1">
                    <p class="currency-amount">$ 0.00</p>
                    <p class="currency-title">Japanese Yen</p>
                    <p class="transaction-id">Rates Buy: 118.858435</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-5">
                <div class="currency-col1">
                    <p class="currency-amount">$ 350.00</p>
                    <p class="currency-title">Malaysian Ringgit</p>
                    <p class="transaction-id">Rates Buy: 3.480818</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-5">
                <div class="currency-col1">
                    <p class="currency-amount">$ 0.00</p>
                    <p class="currency-title">US Dollar</p>
                    <p class="transaction-id">Rates Buy: 0.738184</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-5">
                <div class="currency-col1">
                    <p class="currency-amount">$ 0.00</p>
                    <p class="currency-title">Euro Dollar</p>
                    <p class="transaction-id">Rates Buy: 0.685400</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-5">
                <div class="currency-col1">
                    <p class="currency-amount">$ 0.00</p>
                    <p class="currency-title">British Pound</p>
                    <p class="transaction-id">Rates Buy: 0.581946</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-5">
                <div class="currency-col1">
                    <p class="currency-amount">$ 0.00</p>
                    <p class="currency-title">Australian Dollar</p>
                    <p class="transaction-id">Rates Buy: 1.106395</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>
            <hr>

            <div class="currency-row mt-5">
                <div class="currency-col1">
                    <p class="currency-amount">$ 0.00</p>
                    <p class="currency-title">Korean Won</p>
                    <p class="transaction-id">Rates Buy: 1,380.6</p>
                </div>

                <div class="currency-col2">
                    <button type="submit" class="button-buy">Buy</button>
                    <button type="submit" class="button-sell">Sell</button>
                    <button type="submit" class="button-spend">Spend</button>
                </div>
            </div>

        </div>

    </div>

    <%- include ("footer.ejs") %>

    <script>
    
    </script>


</body>
</html>