<%- include ("meta.ejs") %>
<body>

    <%- include ("navbar.ejs") %>
    <%- include ("navUser.ejs") %>
    <!-- <%- include ("navUserJob.ejs") %> -->

    <div class="ctn-login">
        <form action="" method="Post" class="ctn-form">
            <div class="input-group">
                <label for="search">Search for Jobs</label>
                <input type="search" id="search" name="search" required>
            </div>
            <div class="button-container mb-5">
                <select id="" class="button-filter">
                    <option value="">Filter by Locations</option>
                    <option value="">Locations</option>
                </select>
                <select id="" class="button-filter">
                    <option value="">Filter by Job Type</option>
                    <option value="">Locations</option>
                </select>
                <select id="" class="button-filter">
                    <option value="">Filter by Month Posted</option>
                    <option value="">Locations</option>
                </select>
            </div>
        </form>

        <% if (jobs && jobs.length > 0) { %>
            <% jobs.forEach(job => { %>
            <div class="ctn-job2">
                <div class="row">
                    <div class="ctn-job2-col1">
                        <h3 class="job-Title"><%= job.jobTitle %></h3>
                        <p class="mt-3">Job by: <span class="f-sanserif-bold"><%= job.employer %></span></p>
                        <% if (job.rateType) { %>
                            <button class="button-jobtag"><%= job.rateType %></button>
                        <% } %>
                        <% if (job.employmentType) { %>
                            <button class="button-jobtag"><%= job.employmentType %></button>
                        <% } %>
                        <ul class="job-Body ul-joblist mt-5">
                            <% if (job.workingLocation) { %>
                                <li class="mt-2">Working Location:<br> <span class="f-sanserif-bold"><%= job.workingLocation %></span></li>
                            <% } %>
                            <% if (job.workingHours) { %>
                                <li class="mt-2">Working Timing:<br> <span class="f-sanserif-bold"><%= job.workingHours %></span></li>
                            <% } %>
                            <% if (job.workingPeriodDays) { %>
                                <li class="mt-2">Working Period:<br> <span class="f-sanserif-bold"><%= job.workingPeriodDays %></span></li>
                            <% } %>
                            <% if (job.workingDaysPerWeek) { %>
                                <li class="mt-2">Working Days:<br> <span class="f-sanserif-bold"><%= job.workingDaysPerWeek %></span></li>
                            <% } %>
                            <% if (job.paidBreak) { %>
                                <li class="mt-2">Paid Break:<br> <span class="f-sanserif-bold"><%= job.paidBreak %></span></li>
                            <% } %>
                            <% if (job.totalEarnings) { %>
                                <li class="mt-2">Earn up to (for full completion of job):<br> <span class="f-sanserif-bold2"><%= job.totalEarnings %></span></li>
                            <% } %>
                        </ul>
                        <button class="button-expand">Expand Job Descriptions</button>
                        <div class="content job-Body2 mt-4">
                            <h3 class="job-SubHeader mt-5">Job Descriptions</h3>
                            <ul class="mt-5">
                                <% if (job.jobDescription1) { %>
                                    <li><%= job.jobDescription1 %></li>
                                <% } %>
                                <% if (job.jobDescription2) { %>
                                    <li><%= job.jobDescription2 %></li>
                                <% } %>
                                <% if (job.jobDescription3) { %>
                                    <li><%= job.jobDescription3 %></li>
                                <% } %>
                                <% if (job.jobDescription4) { %>
                                    <li><%= job.jobDescription4 %></li>
                                <% } %>
                                <% if (job.jobDescription5) { %>
                                    <li><%= job.jobDescription5 %></li>
                                <% } %>
                            </ul>
                            <h3 class="job-SubHeader mt-5">Rates</h3>
                            <ul class="job-Body ul-joblist mt-4">
                                <% if (job.flatRate) { %>
                                    <li>Flat: <%= job.flatRate %> /hr</li>
                                <% } %>
                                <% if (job.weekdayRate) { %>
                                    <li>Weekday: <%= job.weekdayRate %> /hr</li>
                                <% } %>
                                <% if (job.weekendRate) { %>
                                    <li>Weekend: <%= job.weekendRate %> /hr</li>
                                <% } %>
                            </ul>
                            <% if (job.totalEarnings && job.earningsCalculation) { %>
                                <p class="job-Body mt-5">
                                    <span class="f-sanserif-bold">Earn up to: <%= job.totalEarnings %> (see details)</span><br>
                                    <%= job.earningsCalculation %>
                                </p>
                            <% } %>
                            <h3 class="job-SubHeader mt-5">Important Notice</h3>
                            <p class="job-Body">
                                *The amount stated is based on estimated calculations of full schedules and incentives met. Please refer to your work schedule for more accurate calculations.
                            </p>
                        </div>
                    </div>
                    <div class="ctn-job2-col2">
                        <% if (job.hourlyRate) { %>
                            <h3 class="f-sanserif-bold">$<%= job.hourlyRate %> /hr</h3>
                        <% } %>
                        <button class="button-apply">Apply Now</button>
                    </div>
                </div>
            </div>
            <% }) %>
        <% } else { %>
            <p>No jobs found.</p>
        <% } %>
    </div>

    <%- include ("footer.ejs") %>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var expandButtons = document.getElementsByClassName("button-expand");
            console.log("Expand buttons found: ", expandButtons.length); // Debugging

            for (var i = 0; i < expandButtons.length; i++) {
                expandButtons[i].addEventListener("click", function() {
                    console.log("Button clicked"); // Debugging
                    var content = this.nextElementSibling;
                    if (content && content.style) {
                        if (content.style.maxHeight) {
                            content.style.maxHeight = null;
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                        }
                    } else {
                        console.log("No content found"); // Debugging
                    }
                });
            }
        });
    </script>

</body>
</html>



