<%- include ("meta.ejs") %>
<body>

    <%- include ("navbar.ejs") %>
    <%- include ("navUser.ejs") %>
    <%- include ("navUserJob.ejs") %>

    <div class="ctn-login">

        <p class="f-sanserif-regular mb-5"><span class="f-sanserif-medium">IMPORTANT NOTICE<br><br></span>
            Please note that your account will be banned if you have accumulated <span class="f-sanserif-bold">MORE THAN 8</span> blacklisted status. <br>
            It is important that you ensure your availability before accepting the job offer. You need to click on:<br><br>
            <button class="button-accept3">Accept Job Offer</button><br>

            to formally accept the job offer. Once you have accepted the job, you cannot reject the job.<br>
            <span class="f-sanserif-medium">No show on the date of commencement will result a blacklisted status.</span>
        </p>


        <div class="ctn-job2">
            <div class="row">
                <div class="ctn-job2-col1">
                    <h3 class="job-Title">Crowd Controller (NDP) x 100</h3>
                    <p class="mt-3">Job by: <span class="f-sanserif-bold">RecruitExpress Pte. Ltd.</span></p>
                    <button class="button-jobtag">Hourly Rated</button>
                    <button class="button-jobtag">Casual Part-Time</button>

                    <button class="button-accept2">Accept Job Offer</button>
                    <button class="button-attendance">Attendance Clocking</button>
                    <button class="button-payment">Payment Status</button>
                    <button class="button-reporting">Reporting to Work Details</button>
                    <button class="button-expand">Expand Job Descriptions</button>


                    <div class="content job-Body2 mt-4">

                        <ul class="job-Body ul-joblist mt-5">
                            <li class="mt-2">Working Location:<br> <span class="f-sanserif-bold">Padang and Promontory @ Marina Bay</span></li>
                            <li class="mt-2">Working Timing:<br> <span class="f-sanserif-bold">10am — 1am (14 hours)</span></li>
                            <li class="mt-2">Working Period:<br> <span class="f-sanserif-bold">10 days</span></li>
                            <li class="mt-2">Working Days:<br> <span class="f-sanserif-bold">Both Weekdays and Weekends</span></li>
                            <li class="mt-2">Paid Break:<br> <span class="f-sanserif-bold">Yes</span></li>
                            <li class="mt-2">Earn up to (for full completion of job):<br> <span class="f-sanserif-bold2">*$1,320</span></li>
                            
                        </ul>
                    
                        <h3 class="job-SubHeader mt-5">Job Descriptions</h3>
                        <ul class="mt-5">
                            <li>Provide information and assistance to visitors </li>
                            <li>Assist to enforce safe distancing and safe 
                                management measures</li>
                            <li>Ensure ticket and attraction admission checks </li>
                            <li>Responding to accidents and emergencies</li>
                            <li>Assist to facilitate events and programmes held </li>
                            <li>Handling of crowd control</li>
                        </ul>
    
                        <h3 class="job-SubHeader mt-5">Rates</h3>
        
                        <ul class="job-Body ul-joblist mt-4">
                            <li>This is an <span class="f-sanserif-bold">Hourly Paid Job</span></li><br>
                            <li>Flat: $12 /hr</li>
                            <li>Weekday: $10 /hr</li>
                            <li>Weekend: $10 /hr</li>
                            <li>Eve of Public Holiday: $12 /hr</li>
                            <li>Public Holiday: $12 /hr</li>
                            <li>Weekday: $10 /hr</li>
                            <li>Weekday: $10 /hr</li>
                        </ul>
    
                        <p class="job-Body mt-5">
                            <span class="f-sanserif-bold">Earn up to: *$1,320 (see details)</span><br>
                            $12 x 5.5 hours x 20 days = *$1,320
                        </p>

                        <h3 class="job-SubHeader mt-5">Important Notice</h3>

                        <p class="job-Body">
                            *The amount stated is based on estimated calculations of full schedules and incentives met. Please refer to your work schedule for more accurate calculations.
                        </p>
                    </div>
                </div>

                <div class="ctn-job2-col2">
                    <h3 class="f-sanserif-bold">*$12 /hr</h3>
                    <button class="button-apply">Applied</button>
                    <p class="job-Body3 mt-2">
                        Applied on: 3/7/2024 (dd days ago / mm ago)
                    </p>
                </div>
            </div>
        </div>

        <div class="ctn-job2">
            <div class="row">
                <div class="ctn-job2-col1">
                    <h3 class="job-Title">Crowd Controller (NDP) x 100</h3>
                    <p class="mt-3">Job by: <span class="f-sanserif-bold">RecruitExpress Pte. Ltd.</span></p>
                    <button class="button-jobtag">Hourly Rated</button>
                    <button class="button-jobtag">Casual Part-Time</button>

                    <button class="button-accept2">ACCEPTED</button>
                    <button class="button-attendance">Attendance Clocking</button>
                    <button class="button-payment">Payment Status</button>
                    <button class="button-reporting">Reporting to Work Details</button>
                    <button class="button-expand">Expand Job Descriptions</button>


                    <div class="content job-Body2 mt-4">

                        <ul class="job-Body ul-joblist mt-5">
                            <li class="mt-2">Working Location:<br> <span class="f-sanserif-bold">Padang and Promontory @ Marina Bay</span></li>
                            <li class="mt-2">Working Timing:<br> <span class="f-sanserif-bold">10am — 1am (14 hours)</span></li>
                            <li class="mt-2">Working Period:<br> <span class="f-sanserif-bold">10 days</span></li>
                            <li class="mt-2">Working Days:<br> <span class="f-sanserif-bold">Both Weekdays and Weekends</span></li>
                            <li class="mt-2">Paid Break:<br> <span class="f-sanserif-bold">Yes</span></li>
                            <li class="mt-2">Earn up to (for full completion of job):<br> <span class="f-sanserif-bold2">*$1,320</span></li>
                            
                        </ul>
                    
                        <h3 class="job-SubHeader mt-5">Job Descriptions</h3>
                        <ul class="mt-5">
                            <li>Provide information and assistance to visitors </li>
                            <li>Assist to enforce safe distancing and safe 
                                management measures</li>
                            <li>Ensure ticket and attraction admission checks </li>
                            <li>Responding to accidents and emergencies</li>
                            <li>Assist to facilitate events and programmes held </li>
                            <li>Handling of crowd control</li>
                        </ul>
    
                        <h3 class="job-SubHeader mt-5">Rates</h3>
        
                        <ul class="job-Body ul-joblist mt-4">
                            <li>This is an <span class="f-sanserif-bold">Hourly Paid Job</span></li><br>
                            <li>Flat: $12 /hr</li>
                            <li>Weekday: $10 /hr</li>
                            <li>Weekend: $10 /hr</li>
                            <li>Eve of Public Holiday: $12 /hr</li>
                            <li>Public Holiday: $12 /hr</li>
                            <li>Weekday: $10 /hr</li>
                            <li>Weekday: $10 /hr</li>
                        </ul>
    
                        <p class="job-Body mt-5">
                            <span class="f-sanserif-bold">Earn up to: *$1,320 (see details)</span><br>
                            $12 x 5.5 hours x 20 days = *$1,320
                        </p>

                        <h3 class="job-SubHeader mt-5">Important Notice</h3>

                        <p class="job-Body">
                            *The amount stated is based on estimated calculations of full schedules and incentives met. Please refer to your work schedule for more accurate calculations.
                        </p>
                    </div>
                </div>

                <div class="ctn-job2-col2">
                    <h3 class="f-sanserif-bold">*$12 /hr</h3>
                    <button class="button-apply">Applied</button>
                    <p class="job-Body3 mt-2">
                        Applied on: 3/7/2024 (dd days ago / mm ago)
                    </p>
                </div>
            </div>
        </div>
        
    </div>

    <%- include ("footer.ejs") %>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var expandButtons = document.getElementsByClassName("button-expand");
            console.log("Expand buttons found: ", expandButtons.length); // Debugging

            for (var i = 0; i < expandButtons.length; i++) {
                expandButtons[i].addEventListener("click", function() {
                    console.log("Button clicked"); // Debugging
                    var content = this.nextElementSibling;
                    if (content && content.style) {
                        if (content.style.maxHeight) {
                            content.style.maxHeight = null;
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                        }
                    } else {
                        console.log("No content found"); // Debugging
                    }
                });
            }
        });
    </script>

</body>
</html>