<%- include ("meta.ejs")%>
<body>

    <%- include ("navbar.ejs")%>
    <%- include ("navUser.ejs")%>
    <%- include ("navUserJob.ejs")%>

    <div class="ctn-login">

        <form action="" method="Post" class="ctn-form">

            <div class="input-group">
                <label for="search">Search for Jobs</label>
                <input type="search" id="search" name="search" required>
            </div>

            <div class="">
                <select id="">
                    <option value="">Filter by Locations</option>
                    <option value="">Locations</option>
                </select>
            </div>

            <div class="">
                <select id="">
                    <option value="">Filter by Job Type</option>
                    <option value="">Locations</option>
                </select>
            </div>

            <div class="">
                <select id="">
                    <option value="">Filter by Date Posted</option>
                    <option value="">Locations</option>
                </select>
            </div>
        </form>

        <div class="ctn-job2">
            <div class="row">
                <div class="col">
                    <h3>Crowd Controller (NDP) x 100</h3>
                    <p>Job by: RecruitExpress Pte. Ltd.</p>
    
                    <p>Working Location: Padang and Promontory @ Marina Bay
                        Working Timing: 10am — 1am (14 hours)
                        Working Period: 10 days
                        Paid Break: Yes
                    </p>
    
                    <h3>See Job Descriptions</h3>
                    <ul>
                        <li>Provide information and assistance to visitors </li>
                        <li>Assist to enforce safe distancing and safe 
                            management measures</li>
                        <li>Ensure ticket and attraction admission checks </li>
                        <li>Responding to accidents and emergencies</li>
                        <li>Assist to facilitate events and programmes held </li>
                        <li>Handling of crowd control</li>
                    </ul>
    
                    <h3>Rates</h3>
    
                    <ul>
                        <li>Weekday: $10 / hr</li>
                        <li>Weekend: $10 / hr</li>
                        <li>Eve of Public Holiday: $12 / hr</li>
                        <li>Public Holiday: $12 / hr</li>
                        <li>Flat: $12 / hr</li>
                        <li>Weekday: $10 / hr</li>
                        <li>Weekday: $10 / hr</li>
                    </ul>
    
                    <p>
                        Earn up to: *$1,320 (see details)
                        $12 x 5.5 hours x 20 days = $1,320
                    </p>
                </div>

                <div class="col">
                    <p>1</p>
                    <p>1</p>
                </div>
            </div>
        </div>
    </div>

    <%- include ("footer.ejs")%>

</body>
</html>