<%- include ("meta.ejs") %>
<body>
    <%- include ("navbar.ejs") %>
    <%- include ("navEmployer.ejs") %>

    <div class="ctn-login">
        <h1 class="f-sanserif-bold mt-5">CREATE JOB POSTING</h1>
        <% if (isVerified) { %>
            <ul class="step-wizard-list mt-5">
                <li class="step-wizard-item">
                    <span class="progress-count">1</span>
                    <span class="progress-label">Job Details</span>
                </li>
                <li class="step-wizard-item current-item">
                    <span class="progress-count">2</span>
                    <span class="progress-label">Salary Details</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">3</span>
                    <span class="progress-label">Working Period</span>
                </li>
                <li class="step-wizard-item">
                    <span class="progress-count">4</span>
                    <span class="progress-label">Job Descriptions</span>
                </li>

            </ul>

        <form id="jobForm" action="" method="post" class="ctn-form">
            <!-- Step 1: Job Details -->
            <section id="job-details" class="ctn-form2">
                <h2>Job Details</h2>
                <div class="input-group" data-tooltip="Enter the title of the job position">
                    <input type="text" id="jobTitle" name="jobTitle" required>
                    <label for="jobTitle">Job Title <span class="required">*</span></label>
                </div>
                <div class="input-group" data-tooltip="Specify the location where the job is based">
                    <input type="text" id="workingLocation" name="workingLocation" list="locations" required>
                    <label for="workingLocation">Working Location <span class="required">*</span></label>
                    <datalist id="locations">
                        <!-- Location options -->
                    </datalist>
                </div>
                <!-- Other input fields for job details -->
                <button type="button" class="button-content" id="generateContent">Generate Content</button>
                <button type="button" class="button-next next-section">Next</button>
            </section>

            <!-- Step 2: Salary Details -->
            <section id="salary-details" class="ctn-form2" style="display: none;">
                <h2>Salary Details</h2>
                <!-- Input fields for salary details -->
                <button type="button" class="button-content prev-section">Previous</button>
                <button type="button" class="button-next next-section">Next</button>
            </section>

            <!-- Step 3: Working Period -->
            <section id="working-period" class="ctn-form2" style="display: none;">
                <h2>Working Period</h2>
                <!-- Input fields for working period -->
                <button type="button" class="button-content prev-section">Previous</button>
                <button type="button" class="button-next next-section">Next</button>
            </section>

            <!-- Step 4: Job Descriptions -->
            <section id="job-descriptions" class="ctn-form2" style="display: none;">
                <h2 class="f-sanserif-bold mt-5">Job Descriptions</h2>

                <input type="hidden" id="companyName" name="companyName" value="<%= companyName %>">

                <div class="input-group mt-5">
                    <textarea id="jobDescription1" name="jobDescription1" rows="4" required></textarea>
                    <label for="jobDescription1">Job Description 1<span class="required">*</span></label>
                </div>

                <div class="input-group">
                    <textarea id="jobDescription2" name="jobDescription2" rows="4"></textarea>
                    <label for="jobDescription2">Job Description 2<span class="required"></span></label>
                </div>

                <div class="input-group">
                    <textarea id="jobDescription3" name="jobDescription3" rows="4"></textarea>
                    <label for="jobDescription3">Job Description 3<span class=""></span></label>
                </div>

                <div class="input-group">
                    <textarea id="jobDescription4" name="jobDescription4" rows="4"></textarea>
                    <label for="jobDescription4">Job Description 4<span class=""></span></label>
                </div>

                <div class="input-group">
                    <textarea id="jobDescription5" name="jobDescription5" rows="4"></textarea>
                    <label for="jobDescription5">Job Description 5<span class=""></span></label>
                </div>

                <h2 class="f-sanserif-bold mt-5">Job Requirements</h2>

                <div class="input-group mt-5">
                    <textarea id="jobRequirement1" name="jobRequirement1" rows="4" required></textarea>
                    <label for="jobRequirement1">Job Requirement 1<span class="required">*</span></label>
                </div>

                <div class="input-group">
                    <textarea id="jobRequirement2" name="jobRequirement2" rows="4"></textarea>
                    <label for="jobRequirement2">Job Requirement 2<span class=""></span></label>
                </div>

                <div class="input-group">
                    <textarea id="jobRequirement3" name="jobRequirement3" rows="4"></textarea>
                    <label for="jobRequirement3">Job Requirement 3<span class=""></span></label>
                </div>
                <button type="button" class="button-content prev-section">Previous</button>
                <button type="submit" class="button-createProfile">Create Job Posting</button>
            </section>
        </form>
        <% } else { %>
            <p style="font-size: 1.5em; font-weight: bold; color: red;">Your account needs to be verified first before you can start posting jobs.</p>
        <% } %>
    </div>
    <%- include ("footer.ejs") %>

    <script src="/firebaseJobs.js"></script>
    <script>
        document.getElementById('generateContent').addEventListener('click', () => {
            document.getElementById('jobTitle').value = 'Changi Flight Food Packer x 120';
            document.getElementById('workingLocation').value = 'Changi';
            document.getElementById('workingHours').value = '9:00 AM - 6:00 PM';
            document.getElementById('employmentType').value = 'Part-time';
            document.getElementById('workingDaysPerWeek').value = '3';
            document.getElementById('paidBreak').value = 'No';
            document.getElementById('breakDuration').value = '60';

            document.getElementById('hourlyRate').value = '0.00';
            document.getElementById('flatRate').value = '15.80';
            document.getElementById('weekdayRate').value = '0.00';
            document.getElementById('weekendRate').value = '0.00';

            document.getElementById('workingPeriodDays').value = 'Monday, Friday and Sunday';
            document.getElementById('dateOfCommencement').value = '01/08/2024';

            document.getElementById('jobDescription1').value = 'Provide information and assistance to visitors';
            document.getElementById('jobDescription2').value = 'Assist to enforce safe distancing and safe management measures';
            document.getElementById('jobDescription3').value = 'Ensure ticket and attraction admission checks';
            document.getElementById('jobDescription4').value = 'Responding to accidents and emergencies';
            document.getElementById('jobDescription5').value = 'Assist to facilitate events and programmes held';

            document.getElementById('jobRequirement1').value = 'Crew must wear safety boot at all times';
            document.getElementById('jobRequirement2').value = '';
            document.getElementById('jobRequirement3').value = '';
            document.getElementById('additionalInfo').value = 'Fast and Daily Cash';
        });
    </script>
</body>
</html>