<%- include ("meta.ejs") %>

<body>

    <%- include ("navbar.ejs") %>

    <div class="ctn-login">

        <h1 class="f-sanserif-bold text-center">Complete Your Purchase</h1>

        <p class="f-sanserif-regular mt-5 mb-5"><span class="f-sanserif-medium">IMPORTANT NOTICE<br><br></span>
            You will be brought over to Stripe Payment page for secured checkout. Please do not close or refresh the browser.
        </p>

        <div class="ctn-attendance mt-5">

            <div class="mt-5 p-4">

                
                <h2 class="f-sanserif-medium mt-3">TOTAL PAYMENT: <br>
                <h1 class="money-Title"><%= new Intl.NumberFormat('en-SG', { style: 'currency', currency: 'SGD' }).format(totalAmount) %></h1>

                <form id="payment-form" class="mt-4">
                    <div class="input-group mb-3">
                        <input type="number" id="quantity" name="quantity" min="1" required readonly value="<%= quantity %>">
                        <label for="quantity" class="form-label">Quantity</label>
                    </div>

                    <button id="submit" class="button-content">Pay</button>
                </form>

                <div id="payment-message" class="hidden text-center mt-3"></div>

            </div>
        </div>
    </div>

    <%- include ("footer.ejs") %>

    <script>
        document.getElementById('payment-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const quantity = document.getElementById('quantity').value;

            const response = await fetch('/create-checkout-session', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity: quantity, productId: '<%= productId %>' }),
            });

            const session = await response.json();

            const stripe = Stripe('pk_test_51PTh7q2MEKdQenEdi0K8ndP3lK5ZqEeYIO2frfdabb4fuGpMZ3adVarVuVdBoBOC5ENnyS9EeqMcZKbbFGBAbHjr00MFbnapzj'); // Replace with your actual public key
            const { error } = await stripe.redirectToCheckout({ sessionId: session.id });

            if (error) {
                document.getElementById('payment-message').textContent = error.message;
                document.getElementById('payment-message').classList.remove('hidden');
            }
        });
    </script>
</body>
</html>